    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    ::-webkit-scrollbar{
        width: 0;
        height: 0;
    }

    body{
        width: 100vh;
    }

    img{
        width: 100vw;
    }

    a{
        display: block;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        background-color: darkred;
        color: white;
        width: 100vw;
    }

    a:hover{
        background-color: red;
    }

